
*{
    font-family: 'Roboto', sans-serif;
}

body{

    background: -webkit-linear-gradient(10deg, rgb(156, 118, 169), rgba(137, 153, 156, 0.92));
    margin: auto;
}


header{
    color: white;
    position: fixed;
    background: #082865;
    width: 120%;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}


q{
    width: 50%;
    font-size: 150%;
    background-color: #bfb5d3;
    border-left: 3px solid;
    padding: 20px;
    margin: 30px auto;
    font-style: italic;
    Display: block;
}


.story{

    display: block;
    padding: 30px 30px 10px 30px;
    margin: auto;
    width: 60%;

}

.villagers{

    border-left-style: solid;
    border-left-color: #aa2064;
}

.farmer{

    border-left-style: solid;
    border-left-color: #421b65;
}

footer {
    background-color: #b09ed3;
    padding: 20px;
    width: 100%
}

.good,.bad{
    font-style: italic;
    text-transform: uppercase;
}

.good{
    color: #264f3a;

}

.bad{

    color: #8b364f;

}


tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:nth-child(odd){
    background-color: #8147a9;
color: #f2f2f2;}

p:first-of-type {
    font-weight: bold;
}

/*.container{
    display: flex;
} */


/*
.container{
    display: flex;
    justify-content: space-between;
}
*/

.author{
    font-weight: bolder;
    font-size: x-large;
    width: 10%
    margin: auto;
    padding: 30px 30px 10px 30px;
}

h1.story-title{

    padding-top:20px;
    padding-left: 30px;
}


.container1{
    display: flex; /* elements side by side and take whole width */
    padding-top: 100px;


}

.list{
    flex: 1;
    list-style-type: none;
    background-color: #bfb5d3;
    padding: 5px;

}

.imglink{

    flex: 1;
}

.table{
    margin: auto;
    padding: 10px;
    background-color: #bfb5d3;
    display: flex;
    flex-direction: column;
    flex:3;
    width: 50%;
}
.table h3{
    padding-bottom: 10px;
    padding-top: 10px;
}


.conclusion{
    padding: 30px;
    width: 60%;
}

.conclusion h3{
    padding-bottom: 20px;
}





